<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Perfil do usuario</title>
</head>
<body>
    <nav>
        <% if (user == 1) {%>
        <%- include('nav/navUser') %>
        <% } else if (user == 2) { %>
        <%- include('nav/navRest') %>
        <% } else { %>
        <%- include('nav/nav') %>
        <% } %>
    </nav>
    <h1 class="title-form">Meu Perfil</h1>
    <form class="form-cadastro" id="form-update">
        <label for="in-name" disabled>Nome</label>
        <input class="input-form" disabled id="in-name" type="text" value="<%= prof.name %>" placeholder="Seu nome">
        <label for="in-dt">Data de nascimento</label>
        <input class="input-form" disabled id="in-dt" type="text" value="<%= prof.dt %>" placeholder="Sua data de nascimento">
        <label for="in-cpf">CPF</label>
        <input class="input-form" id="in-cpf" type="text" value="<%= prof.cpf %>" placeholder="seu CPF">
        <label for="in-uf">UF</label>
        <input class="input-form" id="in-uf" type="text" value="<%= prof.uf %>" placeholder="UF">
        <label for="in-city">Cidade</label>
        <input class="input-form" id="in-city" type="text" value="<%= prof.city %>" placeholder="Cidade">
        <label for="in-street">Rua</label>
        <input class="input-form" id="in-street" type="text" value="<%= prof.street %>" placeholder="Sua rua">
        <label for="in-number">Numero</label>
        <input class="input-form" id="in-number" type="text" value="<%= prof.number %>" placeholder="Numero de residencia">
        <label for="in-email">E-mail</label>
        <input class="input-form" disabled id="in-email" type="text" value="<%= prof.email %>" placeholder="Seu e-mail">
        <label for="in-pass">Senha</label>
        <input class="input-form" id="in-pass" type="password" value="" placeholder="Escolha uma senha">
        <label for="in-pass2">Confirmar senha</label>
        <input class="input-form" id="in-pass2" type="password" value="" placeholder="Confirme a sua senha">
        <button class="btn-submit" type="submit">Alterar dados</button>
    </form>
    <script src="js/scriptUserUpdate.js"></script>
</body>
</html>